.container:nth-of-type(odd) {
    background: #eee;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container:nth-of-type(2n) {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #aaa;
    height: 400px;
}
.popper1 {
    background: orange;
    width: 160px;
}
.popper2 {
    background: lightblue;
}